<ion-app><!--Para que el menu se oculte debes usar ion-menu-toggle-->
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Menu de opciones</ion-list-header>

        </ion-list>

        <ion-list id="labels-list">
          <ion-menu-toggle>
            <ion-item routerLink="/inicio">
              <ion-label>Inicio</ion-label>
            </ion-item>
            <ion-item routerLink="/temas">
              <ion-label>Por Temas</ion-label>
            </ion-item>
            <ion-item >
              <ion-label>Busqueda por palabras</ion-label>
            </ion-item>
  
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
