<app-header titulo="Creditos app"></app-header>

<ion-content>
<ion-grid fixed>
    <ion-row>
        <ion-col size="12">
            <ion-text >
                <h1>Estatuto de la Renovación Carismática Católica</h1>
                <p><strong>Estmado Usuario</strong> esta aplicación ha sido creada para poner al alcance de todos los fieles Carismáticos el estatuto de la RCC-Perú</p>
                <p>Quisiera saber si esta app te ha sido de mucha utilidad.</p>
                <h2>Ayúdame con esta labor</h2>

            </ion-text>
            <ul>
                <li>Contactame</li>
            </ul>

            <ion-list class="item-background-rcc">
                <ion-item lines="none" class="item-background-rcc">
                    <ion-icon name="thumbs-up" slot="start"></ion-icon>
                    <ion-card-subtitle class="p-l-10">Calificar este app en google Play</ion-card-subtitle>
                </ion-item>
                <ion-item lines="none" class="item-background-rcc">
                    <ion-icon name="share-social" slot="start"></ion-icon>
                    <ion-card-subtitle class="p-l-10">Comparte esta aplicación con tus hermanos</ion-card-subtitle>
                </ion-item>
                <ion-item lines="none" class="item-background-rcc">
                    <ion-icon name="mail-open" slot="start"></ion-icon>
                    <ion-card-subtitle class="p-l-10">Escribeme tus opiniones</ion-card-subtitle>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
